@import url("https://fonts.googleapis.com/css2?family=Marvel&display=swap");

:root {
  --primary-color: rgb(188, 7, 7);
  --secondary-color: rgb(211, 0, 0);
}
/* navigation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-around !important;
  margin: 4px;
}
.nav-svg {
  width: 130px;
  height: 52px;
}
.nav-item {
  font-family: "Marvel", sans-serif;
  font-weight: bold;
}
.btn {
  color: white !important;
  border: 1px solid var(--secondary-color) !important;
  background-color: var(--secondary-color) !important;
}
/* cards */
.card {
  width: 18rem;
  margin: 6px;
  margin-bottom: 100px;
  height: 360px;
  padding: 2rem 1rem;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
.card:hover {
  transform: translateY(-20px);
}
.card::before {
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  transition: 0.5s all;
  opacity: 0;
}
.card:hover::before {
  opacity: 1;
}

.card-image {
  width: 18rem;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
}
.card .card-info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(-30px);
  transition: 0.5s all;
}
.card .card-footer {
  display: flex;
  opacity: 0;
  z-index: 9;
  margin-top: 13rem;
  margin-inline: auto;
}
.card:hover .card-info {
  opacity: 1;
  transform: translateY(0px);
}
.card .card-info h5 {
  margin: 0;
}
.card .card-info p {
  letter-spacing: 1px;
  font-size: 16px;
  margin-top: 8px;
}
.card:hover .card-footer {
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  opacity: 1;
  z-index: 9;
}
.heart_icon {
  width: 40px;
  background-color: red;
  border-radius: 5px;
  color: white !important;
}
.btn {
  border: 1px solid var(--secondary-color) !important;
  background-color: var(--secondary-color) !important;
}
