:root {
  --primary-color: rgb(188, 7, 7);
  --secondary-color: rgb(211, 0, 0);
}
.banner {
  width: 100%;
}
.navbar-brand {
  margin-left: 15px;
  border-radius: 4px;

  background-color: var(--secondary-color);
}
.btn {
  border: 1px solid var(--secondary-color) !important;
  background-color: var(--secondary-color) !important;
}
/* ... */
.card {
  position: relative;
  width: 18rem;
  margin: 6px;
  margin-bottom: 40px;
  background-color: var(--primary-color) !important;
}
h3 {
  display: flex;
  justify-content: center;
  color: black;
}
p {
  display: flex;
  justify-content: center;
  color: black;
}
.card_img {
  width: 100%;
}

.heart_icon {
  width: 10%;
}

/* hover rame-rume */
.card:hover {
  background-color: rgb(154, 3, 3) !important;
  transform: scale(1.05);
  transition: all 0.1s ease;
}
